/**
PANEL STYLES
**/

/* panel border */
window#XfcePanelWindow.xfce4-panel.panel.background {
	border-style: solid;
	border-color: #e2e2e2;
	border-width: 0.7px;
	border-radius: 5px;
}


/* panel plugin wrapper */
window#XfcePanelWindowWrapper.background.panel.xfce4-panel {
	/* background-color: rgb(14, 50, 17); */

	border-color: #e2e2e2;
	/* border-color:green; */
	border-style: solid;
	border-width: 0.7px;
	border-left-width: 0px;
	border-right-width: 0px;

	/* margin: 30px; */
}


window#XfcePanelWindowWrapper.xfce4-panel.panel.background>widget>button.flat.toggle,
window#XfcePanelWindowWrapper.xfce4-panel.panel.background>widget>widget>button.flat.toggle {
	/* background-color: #5d5d5d; */
	/* background-color: green; */
	border-radius: 5px;

	/* margin-top: 3px;
	margin-bottom: 3px; */

	margin-top: 5px;
	margin-bottom: 5px;

	padding-left: 10px;
	padding-right: 10px;

	/* border styles */
	/* border-style: solid;
	border-color: #e2e2e2;
	border-width: 0.7px;
	border-radius: 5px; */
}

window#XfcePanelWindowWrapper.xfce4-panel.panel.background box.horizontal>* {
	margin-left: 3px;
	margin-right: 3px;
}