window#XfcePanelWindowWrapper>widget#power-manager-plugin-32>widget>button#xfce4-power-manager-plugin {
	/* border styles */
	border-style: solid;
	border-color: #e2e2e2;
	border-width: 0.7px;
	border-radius: 5px;
}