/*
 _____  _    ____  _  __    _     ___ ____ _____
|_   _|/ \  / ___|| |/ /   | |   |_ _/ ___|_   _|
  | | / _ \ \___ \| ' /    | |    | |\___ \ | |
  | |/ ___ \ ___) | . \    | |___ | | ___) || |
  |_/_/   \_\____/|_|\_\   |_____|___|____/ |_|
*/

/* tasklist border spacing */
window#XfcePanelWindow>widget>widget#tasklist-2>box.horizontal {
	margin-right: 65px;
}


window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:checked.toggle,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:checked.group-button.toggle {
	box-shadow: none;
}

/* add border to button */
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button {
	border-style: solid;
	border-color: #e2e2e2;
	border-width: 0.7px;
	border-radius: 5px;
}

window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:hover.toggle,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:hover.group-button.toggle {
	box-shadow: none;
}

window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button {
	box-shadow: none;
	margin-top: 2px;
	margin-bottom: 2px;
}


/**************************/

/**
all buttons: START
***/

/** IMAGE AND LABEL*/
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.toggle>box.horizontal>label,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.toggle>box.horizontal>image,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.group-button.toggle>box.horizontal>label,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.group-button.toggle>box.horizontal>image {
	background-color: #343435;
}

/**IMAGE ALONE**/
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.toggle>box.horizontal>image,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.group-button.toggle>box.horizontal>image {
	padding-left: 5px;
	padding-right: 2px;
	margin-right: 0;

	/* controls the border radius of the tasklist buttons */
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	/*  */
}

/** LABEL ONLY **/
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.toggle>box.horizontal>label,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.group-button.toggle>box.horizontal>label {
	/* below property makes the label closer to the image */
	/* that is why it is negative, the higher the number,the further left it shifts  */
	/* tweak, until convenient  */
	margin-left: -6px;
	/*  */
	/*  */

	padding-right: 5px;
	background-blend-mode: hue;
	padding-left: 2px;

	/* controls the border radius of the tasklist buttons */
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	/*  */
}

/* general top and bottom paddings */
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.toggle>box.horizontal {
	padding-top: 0px;
	padding-bottom: 0px;
}

/**
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
**/

/* remove slight distortion in parent box*/
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button {
	background-color: transparent;
	margin-left: 2px;
	margin-right: 2px;

	margin-top: 5px;
	margin-bottom: 5px;
}

/* active window bg */
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:checked.toggle>box.horizontal>label,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:checked.toggle>box.horizontal>image,

window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:checked.group-button.toggle>box.horizontal>label,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:checked.group-button.toggle>box.horizontal>image {
	background-color: #0056b3;
	color: white;
}

/* all window bg (mainly affects inactive window buttons) */
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.toggle>box.horizontal>label,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.toggle>box.horizontal>image,

window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.group-button.toggle>box.horizontal>label,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button.group-button.toggle>box.horizontal>image {
	background-color: rgba(141, 101, 1, 1);
	color: rgb(196, 196, 196);
}

/* minimized window hover bg */
/* window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:hover.toggle>box.horizontal>label.label-hidden,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:hover.toggle>box.horizontal>image.minimized,

window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:hover.group-button.toggle>box.horizontal>label.label-hidden,
window#XfcePanelWindow.xfce4-panel.background.horizontal.panel>widget>widget#tasklist-2>box.horizontal>widget.tasklist>button:hover.group-button.toggle>box.horizontal>image.minimized {

	background-color: rgb(84, 9, 3);
	opacity: 1;
	border: none;
} */