/**********************************************************************
PLUGINS CUSTOMIZATIONS
***********************************************************************/

/* window#XfcePanelWindowWrapper {
	padding: 0px;
} */

window#XfcePanelWindowWrapper>widget>button#whiskermenu-button {
	background-color: #343435;
	/* background-color: red; */
	opacity: 0.1;
	border-radius: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	box-shadow: none;
}

widget#netload-35>widget>box>label {
	font-size: 13px;
	font-weight: normal;
}

/**
      _            _                _
  ___| | ___   ___| | __   ___ ___ | | ___  _ __
 / __| |/ _ \ / __| |/ /  / __/ _ \| |/ _ \| '__|
| (__| | (_) | (__|   <  | (_| (_) | | (_) | |
 \___|_|\___/ \___|_|\_\  \___\___/|_|\___/|_|

**/

#XfcePanelWindow.panel.background.xfce4-panel widget#clock-34 button#clock-button.toggle.flat {
	color: #91ff83;
	padding: 7px;
}