/* widget#whiskermenu-1>button#whiskermenu-button>box.horizontal>image {
	opacity: 0.5;
} */

window#XfcePanelWindowWrapper>widget>button#whiskermenu-button {
	background-color: #343435;
	/* background-color: red; */
	opacity: 0.6;
	border-radius: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 15px;
	box-shadow: none;

	/* border styles */
	border-style: solid;
	border-color: #e2e2e2;
	border-width: 0.7px;
	border-radius: 5px;
}